<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>
    <style>
        .header {
            background-color: #bd2333;
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

        }

        .header > a {
            color: white;
        }


        .image > img {
            width: 60%;
            display: block;
            margin: auto;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://guide.michelin.com/assets/images/michelin-guide-logo-white.svg" width="237" height="42">
        <a href="#">미슐랭 오피셜</a>
        <a href="#">나만의 미슐랭</a>
        <a href="#">로그인</a>
        <a href="#">회원가입</a>
    </div>
    <div class="image">
        <img src="https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2020/08/13/0f23fe1f30c14d46a0ffabcc447c4322_1.+%EB%9D%BC%EC%97%B0_+%EB%AF%BC%EC%96%B4+%EC%96%B4%EB%9E%80%ED%83%95.jpg">
    </div>
</body>
</html>